/* Default styling for all elements in page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* styling for header tag */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

/* specific styling for Horiseon brand logo in header */
header h1 .seo {
  color: #d9dcd6;
}

/* styling for divs under header tag */
header section {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* ul and li stylings */
header section ul {
  list-style-type: none;
}

header section ul li {
  display: inline-block;
  margin-left: 25px;
}

/* this styles anchor tags  */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Paragraph font sizing */

p {
  font-size: 16px;
}


/* Main image */
.heroImage {
  /* background image under header */
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  /* main content of page */
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.float-left {
  /* to position the images in content to the left of div */
  float: left;
  margin-right: 25px;
}

.float-right {
  /* to position the images in content to the right of div */
  float: right;
  margin-left: 25px;
}

.benefits { 
  /* positions the article to the right of the screen */
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* sets margin and color */
.benefits-details {
    margin-bottom: 32px;
    color: #ffffff;
  }

/* sets properties of h3 tag under benefits-detals */
.benefits-details h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* sets block display, margins & width of images under .benefits-details */
.benefits-details img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Default style for the content section. */ 

.main-section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Image style for content section */
.main-section img{
  max-height: 200px;
}

/* Header style for content section */
.main-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Footer style */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
